body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-weight: normal;
    font-size: 15px;
    text-transform: none;
}

.constructor {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.constructor-bottom {
    background: #fff;
}

.constructor-in {
    background: #fff;
    box-shadow: 0 2px 8px #d8e8fe;
}

.task div {
    background: #fff;
    box-shadow: 0 2px 8px #d8e8fe;
}

.task div:hover {
    background: #fff;
    box-shadow: 0px 7px 15px 9px #d8e8fe;
    transition: box-shadow .2s, border .2s;
}

.form-group input {
    height: 40px;
}

.second {
    background: #e9f7f5;
}

.box {
    background: url(/img/right-box.png) no-repeat right center;
    background-size: 300px;
}

.mt-6 {
    margin-top: 130px !important;
}

.pb-6 {
    padding-bottom: 100px !important;
}

.blue-f {
    background: #00898f;
    color: #fff;
}

.blue-f a {
    color: #fff;
    /* Цвет ссылок */
}

.btn-warning {
    color: #fff;
    background-color: #00898f!important;
    border-color: #00898f!important;
}

.btn-warning:hover {
    color: #fff;
    background-color: #019da5!important;
    border-color: #019da5!important;
}

.chat {
    overflow: auto;
}

.chat-bottom {
    background: #000;
}

.active a {
    color: #38d8a0!important;
}

.nav-item a {
    color: #7a7a7a;
    font-size: 15px;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    transition: .4s;
}

.nav-item a:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: #38d8a0;
}

.icon {
    fill: #38d8a0;
    color: #38d8a0;
    font-size: 40px;
}

.container-fluid {
    min-width: 1200px;
}

.container {
    max-width: 960px!important;
}

.second-section {
    width: 960px!important;
    margin: auto;
}

.carousel-caption {
    color: #fff;
    text-shadow: 1px 1px 2px #000, 0 0 1em #000;
}

.search {
    background: #007cb9;
    color: white;
    margin: auto;
    text-align: left;
}

.search div {
    float: left;
}

.search-bottom {
    background: #ececfb;
    color: #000;
}

.btn-search {
    width: 150px;
    margin-top: 8px;
    height: 40px;
}